.default_width{
    width: 1024px !important;
    margin: 0 auto;
}
.default_padding{
    padding: 24px 24px 24px 24px;
}
.large_text{
    font-size: 28px;
    color:black;
}
.medium_text{
    font-size: 20px;
    color:black;
}
.small_text{
    font-size: 16px;
    color:black;
}
.default_btn{
    background-color: #ffc107;
    border: none;
    color: white;
    height: 56px;
    width: 100%;
}
.non_deco{
	text-decoration: none !important;
}
.login_form_width{
	width: 336px;
	margin: 0 auto;
	padding-top: 100px;
}
.signup_form_width{
	width: 600px;
	margin: 0 auto;
	padding-top: 50px;
}