<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css?바로적용">
</head>
<body>
<div class=default_width>
		<hr class=search_top_line>
		<div class=search_first_box>
			<div>
				<div class=search_twice_box>
					<div class=main_search_all>
						<div class=main_checkinout>
							<div role=button>
								<div class=main_checkinout_buttonbox>
									<div>
										<button class=main_checkinout_1 type=button>
											<span> <span class=main_checkinout_span>체크인</span> <span>3월
													17일 (목)</span>
											</span>
										</button>
									</div>
									<div>
										<button class=main_checkinout_1 type=button>
											<span> <span class=main_checkinout_span>체크아웃</span> <span>3월
													18일 (금)</span>
											</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class=main_count_box>
							<div role="button">
								<div>
									<button class=main_checkinout_1 type=button>
										<span> <span class=main_checkinout_span>인원수</span> <span>객실
												1개, 1명</span>
										</span>
									</button>
								</div>
							</div>
						</div>
						<div>
						<input type=search class=main_search_text placeholder=지역,숙소명>
						</div>
					<div class=main_search_button_box>
					<button type=submit class=main_search_button>검색</button>
					</div>
					</div>
				</div>
			</div>
		</div>
		<hr class=search_bottom_line>
		<div class=search_bottom_box>
			<div class=search_filter_box>
			<h3>상세조건</h3>
				<div class=search_button_box>
				<button type=button class=search_detail_button_size>초기화</button>
				<button type=submit class=search_detail_button_size>적용</button>
					<div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>