.default_width{
    width: 1024px !important;
    margin: 0 auto;
}
.default_padding{
    padding: 24px 24px 24px 24px;
}
.large_text{
    font-size: 28px;
    color:black;
}
.medium_text{
    font-size: 20px;
    color:black;
}
.small_text{
    font-size: 16px;
    color:black;
}
.default_btn{
    background-color: #ffc107;
    border: none;
    color: white;
    height: 56px;
    width: 100%;
}
.non_deco{
	text-decoration: none !important;
}
.login_form_width{
	width: 336px;
	margin: 0 auto;
	padding-top: 100px;
}
.signup_form_width{
	width: 600px;
	margin: 0 auto;
	padding-top: 50px;
}
.main_first_box {
	height: 580px;
	background: #fff url(http://nstayidb.cafe24.com/arribada/main/mv01.jpg) 50% 100% no-repeat;
	background-size: 1000px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_twice_box {
	background: #ffffff;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 80px;
}		
.main_search_title {
	font-size: 28px;
	line-height: 32px;
	margin: 0;
}
.main_search_all {
	margin-top: 10px;
	display: flex;
}
.main_checkinout{
	position: relative;
	display: inline-block;
}
.main_checkinout_1 {
	border: 0;
	background-color: #ffc107;
	padding-left: 12px;
    padding-right: 12px;
    height: 48px;
    display: flex;
    width: 100%;
    font-size: 16px;
    color: black;
    text-align: left;
    align-items: center;
}
.main_checkinout_span {
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	display: block;
}
.main_checkinout_buttonbox {
	display: flex;
}
.main_count_box {
	position: relative;
	margin-left: 8px;
}
.main_search_button_box {
	display: flex;
	margin-left: 8px;
	width: auto;
}
.main_search_button {
	background-color: #ffc107;
	color: black;
	font-size: 14px;
	font-weight: 700;
	border-radius: 50vh;
	width: 100%;
	border: none;
	min-width: 112px
}
.main_search_text {
	margin-left: 8px;
	background-color: #ffc107;
    border: none;
    color: black;
    width: 96%;
    height: 100%;
	padding-left: 20px;
}
.main_categorybox {
	margin-top: 100px;
}
.main_first_floor {
	display: grid;
    grid-template-columns: auto auto;
    text-align: center
}